.container {
    display:flex;
    flex-direction:column;
    text-align:center;

    img {
        width:250px;
        max-width:250px;
        align-self:center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }
}